{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block cover %}
    <div id="cover">
        <h1>{{ page.title }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}

    {% if page.toc %}
    <div class="pagination">
        <h2>{{ page.toc_title }}</h2>
        {{ page.toc }}
    </div>
    {% endif %}

    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
{% endblock %}
